*.py[cdo]
*.c
*.so
*~
.#*
*.sw[op]
.DS_Store
build/

pip-log.txt

*.tar.gz
*.tgz
*.zip

*.html
*.lprof

MANIFEST
seqlearn.egg-info/top_level.txt
seqlearn.egg-info/SOURCES.txt
dist/seqlearn-0.2-cp35-none-win_amd64.whl
seqlearn.egg-info/dependency_links.txt
seqlearn.egg-info/PKG-INFO
